:root {
    --grey: rgb(100, 100, 100);
    --lgrey: rgb(75, 75, 75);
    --bgGrey: rgb(33, 33, 33);
    --theme: 50, 200, 250;
    --sSize: 1.2vw;
    --mSize: 1.6vw;
    --lSize: 5vw;
    --botPadding: 0.1vw;
    --green: 25, 150, 50;
    --red: 150, 25, 50;
}

body {
    background-color: var(--bgGrey);
    color: whitesmoke;
    font-family: "Quantico";
    font-size: var(--mSize);
    margin: 0vw;
    height: 100vh;
}

/** answering **/

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2vw;
    padding-top: 21.3px;
    padding-bottom: 21.3px;
    padding-left: 3.1vw;
    padding-right: 3.1vw;
    position: sticky;
    top: 0vw;
    height: 140px;
    background-color: var(--bgGrey);
    z-index: 10;
}

#bigLetter {
    font-size: var(--lSize);
    border: 0.12vw dashed var(--grey);
    border-radius: 100%;
    padding-right: 2.1vw;
    padding-left: 2.1vw;
}

#colon {
    color: var(--grey);
}

#stopwatch {
    padding-right: 1vw;
    font-size: 1.5vw;
    color: rgba(var(--theme), 0.75);
}

#instructions {
    border-bottom: 0.12vw solid var(--grey);
    border-top: 0.12vw solid var(--grey);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0.7vw;
    padding-left: 3.1vw;
    margin-left: 0vw;
    margin-right: 0vw;
    font-size: var(--sSize);
    color: var(--grey);
    position: sticky;
    top: 182.5px;
    background-color: var(--bgGrey);
    z-index: 9;
}

.bottomColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    border-bottom: 0.12vw solid var(--lgrey);
    padding-left: 1.2vw;
    padding-right: 2.8vh;
}

.qNumber {
    font-size: var(--sSize);
    color: var(--grey);
    max-width: 3.1vw;
    padding-bottom: var(--botPadding);
}

.qContent {
    padding-bottom: var(--botPadding);
    width: 44vw;
}

.qInput {
    width: 44vw;
    height: 2.5vw;
    background-color: rgba(75, 75, 75, 0.5);
    padding-bottom: var(--botPadding);
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 1;
    caret-color: rgba(var(--theme), 0.75);
    caret-shape:underscore;
    align-self:flex-end;
}

::selection {
    background-color: rgba(var(--theme), 0.5);
}

.qInput.valid {
    background-color: rgba(0, 175, 0, 0.25);
}

.qInput.invalid {
    background-color: rgba(175, 0, 0, 0.25);
}

.qInput::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.12vw;
    background-color: rgb(var(--theme));
    width: 100%;
    transform: scaleX(0);
    transform-origin: left; /* grows from left to right */
    transition: transform 0.25s ease-in-out;
}

.qInput:focus::after {
  transform: scaleX(1); /* full width */
  transform-origin: left; /* growth from left */
}

.break {
    color: var(--bgGrey);
    font-size: 3px;
}

.numAndContent {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5vw;
}

/** voting **/

.outOf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.52vw;
}

#next {
    font-size: var(--sSize);
    border: 0.12vw solid var(--lgrey);
    border-radius: 50%;
    height: 6vw;
    width: 6vw;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

#next:hover {
    box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 0.5);
}

#next:active {
    box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 1);
}

@keyframes pulse {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

#bigQNum {
    font-size: var(--lSize);
}

#smallQNum {
    font-size: var(--sSize);
    color: var(--grey);
}

#bigQContent {
    font-size: var(--mSize);
    overflow: hidden;       
    width: 50%;
    text-align: center;
    align-content: center;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* 👈 limits to 2 lines */
    -webkit-box-orient: vertical;
}

.line {
    height: 0vw;
    border-top: 0.4vw double var(--lgrey);
    position: sticky;
    top: 182.5px;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: var(--sSize);
    gap: 22.5vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: 0.05vw solid var(--lgrey);
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    background-color: rgba(var(--red), 0.75);
    inset: 0% 0% 0% 0%;
    z-index: 5;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    font-size: var(--mSize);
    overflow: hidden;
    display: none;
}

.banner.correct {
    background-color: rgba(var(--green), 0.75);
}

@keyframes bannerPop {
  0% {
    top: 100%;
  }
  30% {
    top: 0%;
  }
  70% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.aLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5vw;
    position: relative;
}

.aRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.7vw;
    position: relative;
}

.aPoints {
    color: rgb(var(--red));
    width: 2.7vw;
    text-align: right;
}

.aPoints.correct {
    color: rgb(var(--green));
}

.aAnswered {
    color: var(--grey);
    width: 2.7vw;
    text-align: right;
}

/* correct just means everyone answered (only inaccurate if got spectators) */
.aAnswered.correct {
    color: rgba(var(--theme), 0.67);
}

.aContent {
    color: rgba(var(--theme), 0.75);
}

.aName {
    color: whitesmoke;
    padding-right: 1vw;
}

.aLeftmost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5vw;
}

.vote {
    width: 1.5vw;
    z-index: 2;
    cursor: pointer;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 0vw;
    height: 0vw;
    z-index: 1;
    transform: translateX(-50%);
    box-shadow: 0 0 1vw red
}

.circle.correct {
    box-shadow: 0 0 1vw green;
}

.yourAnswer {
    color: var(--lgrey);
}

/** home **/

.division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7vw;
}

.section {
    border: 0.1vw solid var(--lgrey);
    border-radius: 3.5vw;
    width: 30vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    min-height: 30vw;
    gap: 4.5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pText {
    color: var(--grey);
    font-weight: bold;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sSize);
    height: 2.5vw;
    padding-right: 0.8vw;
}

.pName {
  white-space: nowrap;         /* prevent wrapping */
  overflow: hidden;            /* hide overflowed text */
  text-overflow: ellipsis;     /* add ellipsis (…) at end */
  max-width: 50%;             /* or any specific width */
}

.leader.you::after {
    content: "👑 🙋‍♂️";
    padding-left: 0.8vw;
}

.leader::after {
    content: "👑";
    padding-left: 0.8vw;
}

.you::after {
    content: "🙋‍♂️";
    padding-left: 0.8vw;
}

.mostImproved.highest::before {
    content: "🔥 🏅";
    padding-right: 0.8vw;
}

.highest::before {
    content: "🏆";
    padding-right: 0.8vw;
}

.mostImproved::before {
    content: "🔥";
    padding-right: 0.8vw;
}

.pScoreAndDelta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.pDelta {
    color: var(--grey);
    width: 1.5vw;
    text-align: right;
}

.rename {
    background-color: var(--lgrey);
    border-radius: 1vw;
    cursor: pointer;
    text-align: center;
    font-size: var(--sSize);
    height: 2vw;
    align-content: center; 
    transition: box-shadow 0.5s ease, background-color 0.25s ease, transform 0.5s ease;
}

.rename:hover {
    box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 0.67);
    transform: scale(1.07);
    background-color: rgba(var(--theme), 0.33);
}

.rename:active {
    background-color:rgba(var(--theme), 0.67);
}

.cText {
    color: var(--grey);
    font-weight: bold;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.setting {
    font-size: var(--sSize);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5vw;
}

.sName i {
    padding-right: 1vw;
    font-size: 1.1vw;
    width: 1.1vw;
    color: rgba(var(--theme), 0.75);
    display: inline-block;
}

.sValue {
    border: 1px solid var(--lgrey);
    border-radius: 1.5vw;
    width: 6vw;
    height: 2.5vw;
    text-align: right;
    align-content: center;
    padding-right: 0.5vw;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.5s ease, background-color 0.25s ease;
}

.sValue:hover {
    box-shadow: 0vw 0vw 0.5vw rgba(var(--theme), 0.67);
}

.sValue:active {
    box-shadow: 0vw 0vw 1vw rgba(var(--theme), 1);
}

.sValue::after {
    content: "▸";
    padding-left: 0.3vw;
    padding-right: 0.12vw;
    color: var(--grey);
    font-size: 1.1vw;
    transform: scale(2, 1.5);
    display: inline-block;
    transition: transform 0.5s ease;
}

.sValue.open::after {
    transform: rotate(90deg) scale(2, 1.5);
}

.menu {
    position: absolute;
    background-color: var(--lgrey);
    opacity: 0.85;
    border-radius: 1.5vw;
    left: 50%;
    width: 103%;
    text-align: center;
    transform: translateX(-50%);
    top: 120%;
    z-index: 10;
    gap: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0vw;
    transition: height 0.5s ease, max-height 0.5s ease;
    max-height: 0vw;
    overflow: hidden;
    cursor: default;
}

.menu::-webkit-scrollbar {
    width: 0px;
    background: none;
    position: absolute;
}

.menu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: absolute;
}

.option {
    width: 75%;
    align-content: center;
    text-align: center;
    align-self: center;
    transform: translateX(15%);
    border-radius: 1.5vw;
    cursor: pointer;
}

.option:hover {
    background-color: rgba(var(--theme), 0.5);
}

#color {
    width: 11.2vw;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sSize);
    gap: 2.5vw;
}

.configButton {
    background-color: var(--lgrey);
    border-radius: 1vw;
    height: 2vw;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: box-shadow 0.5s ease, background-color 0.25s ease, transform 0.5s ease;
}

.configButton:hover {
    box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 0.67);
    transform: scale(1.07);
    background-color: rgba(var(--theme), 0.33);
}

.configButton:active {
    background-color:rgba(var(--theme), 0.67);
}

/* Responsive override for phones */
@media only screen and (orientation: portrait) {
    :root {
        --sSize: 2.5vw;
        --mSize: 3.5vw;
        --lSize: 12vw;
        --botPadding: 4px;
    }

    /** answering **/

    .topRow {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 4vw;
        padding-right: 4vw;
        height: 100px;
    }
    
    #bigLetter {
        padding-right: 4.5vw;
        padding-left: 4.5vw;
    }

    #stopwatch {
        padding-right: 1.2vw;
        font-size: 2.6vw;
        color: rgba(var(--theme), 0.75);
    }

    #instructions {
        top: 119.7px;
    }

    .question {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 0.12vw solid var(--lgrey);
    }

    .numAndContent {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin-left: 9.5vw;
    }

    .qContent {
        width: 70vw;
        margin-left: 0.5vw;
    }

    .qInput {
        align-self: flex-start;
        padding-left: 1vw;
        margin-left: 14.5vw;
        width: 70vw;
        height: 4.5vw;
        padding-bottom: var(--botPadding);
    }

    /** voting **/

    .line {
        top: 119.7px;
    }

    .answer {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 3vw;
        padding-left: 5vw;
        padding-right: 8vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .aRight {
        justify-content: flex-end;
        gap: 7vw;
        position: relative;
    }

    #next {
        height: 12vw;
        width: 12vw;
    }

    #next:hover {
        box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 0.5);
    }

    #next:active {
        box-shadow: 0vw 0vw 1.5vw rgba(var(--theme), 1);
    }
    
    /** home **/

    .division {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* height: 70vw; */
        padding: 2.5vw;
        gap: 1.5vw;
        margin: 0vw;
    }
    
    .section {
        width: 40vw;
        gap: 2.5vw;
        /* color: red; */
        /* flex-grow: 1; */
        border: 0.1vw solid var(--lgrey);
        /* border-radius: 10%; */
        /* width: 30vw; */
        padding: 1.5vw;
        /* height: 37.5vw; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid white; */
    }

    .middleColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vw;
        /* flex-grow: 1; */
        /* border: 1px solid white; */
    }
}