:root {
    --grey: rgb(100, 100, 100);
    --lgrey: rgb(75, 75, 75);
    --bgGrey: rgb(33, 33, 33);
    --theme: 50, 200, 250;
    --sSize: 2.5vh;
    --mSize: 3.5vh;
    --lSize: 10vh;
    --botPadding: 4px;
    --green: 25, 150, 50;
    --red: 150, 25, 50;
}

body {
    background-color: var(--bgGrey);
    color: whitesmoke;
    font-family: "Quantico";
    font-size: var(--mSize);
    margin: 0vh;
    height: 100vh;
}

/** answering **/

.topRow {
    display: flex;
    /* min-height: 100px; */
    justify-content: space-between;
    align-items: center;
    gap: 2.5vh;
    padding: 2.5vh;
    padding-left: 6.25vh;
    padding-right: 6.25vh;
    position: sticky;
    top: 0vh;
    background-color: var(--bgGrey);
    /* border: 0.25vh solid white; */
    z-index: 10;
}

.letter {
    font-size: var(--lSize);
    border: 0.25vh dashed var(--grey);
    border-radius: 100%;
    padding-right: 4.375vh;
    padding-left: 4.375vh;
    /* margin-left: 0vh; */
    /* font-family: "Doto"; */
}

#stopwatch {
    padding-right: 1.875vh;
    font-size: 3vh;
    color: rgba(var(--theme), 0.75);
}

.instructions {
    border-bottom: 0.25vh solid var(--grey);
    border-top: 0.25vh solid var(--grey);
    /* font-size: 25px; */
    /* font-style: bold; */
    /* font-family: "Doto"; */
    /* margin-left: -20%; */
    padding: 1.5vh;
    padding-left: 6.25vh;
    /* margin: 8px; */
    margin-left: 0vh;
    margin-right: 0vh;
    font-size: var(--sSize);
    color: var(--grey);
    position: sticky;
    top: 19.8vh;
    background-color: var(--bgGrey);
    /* border: 0.25vh solid white; */
    z-index: 9;
}

.bottomColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 2.5vh; */
    /* padding-bottom: -20px; */
    margin-top: 2vh;
    /* margin-bottom: 2.5vh; */
    border-bottom: 0.25vh solid var(--lgrey);
    /* text-align: center; */
    /* position: relative; */
}

.qNumber {
    /* flex-grow: 1; */
    margin-left: 2.5vh;
    font-size: var(--sSize);
    color: var(--grey);
    /* margin-left: -10%; */
    /* border: 3px solid white; */
    max-width: 6.25vh;
    padding-bottom: var(--botPadding);
}

.qContent {
    /* flex-grow: 1; */
    /* margin-left: -300px; */
    /* margin-left: -20%; */
    padding-bottom: var(--botPadding);
}

.qInput {
    margin-right: 2.5vh;
    padding-left: 2.5vh;
    margin-left: 20%;
    /* flex-grow: 1; */
    width: 95vh;
    height: 5vh;
    background-color: rgba(75, 75, 75, 0.5);
    padding-bottom: var(--botPadding);
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 1;
    caret-color: rgba(var(--theme), 0.75);
    caret-shape:underscore;
}

::selection {
    background-color: rgba(var(--theme), 0.5);
}

.qInput.valid {
    background-color: rgba(0, 175, 0, 0.25);
}

.qInput.invalid {
    background-color: rgba(175, 0, 0, 0.25);
}

.qInput::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.25vh;
    background-color: rgb(var(--theme));
    width: 100%;
    transform: scaleX(0);
    transform-origin: left; /* grows from left to right */
    transition: transform 0.25s ease-in-out;
}

.qInput:focus::after {
  transform: scaleX(1); /* full width */
  transform-origin: left; /* growth from left */
}

.break {
    color: var(--bgGrey);
    font-size: 3px;
}

.numAndContent {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3vh;
}

/** voting **/

.outOf {
    display: flex;
    /* min-height: 100px; */
    justify-content: space-between;
    align-items: center;
    gap: 1.04vh;
}

#next {
    font-size: var(--sSize);
    border: 0.25vh solid var(--lgrey);
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

#next:hover {
    box-shadow: 0vh 0vh 3vh rgba(var(--theme), 0.5);
}

#next:active {
    box-shadow: 0vh 0vh 3vh rgba(var(--theme), 1);
}

@keyframes pulse {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.bigQNum {
    font-size: var(--lSize);
}

.smallQNum {
    font-size: var(--sSize);
    color: var(--grey);
}

.bigQContent {
    font-size: var(--mSize);
}

.line {
    height: 0vh;
    border-top: 0.6vh double var(--lgrey);
    /* padding-top: 5vh; */
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: var(--sSize);
    gap: 45vh;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* padding: 3vh; */
    border-bottom: 0.1vh solid var(--lgrey);
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    background-color: rgba(var(--red), 0.75);
    inset: 0% 0% 0% 0%;
    z-index: 5;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    font-size: var(--mSize);
}

.banner.correct {
    background-color: rgba(var(--green), 0.75);
}

@keyframes bannerPop {
  0% {
    top: 100%;
  }
  30% {
    top: 0%;
  }
  70% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.aLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7vh;
    position: relative;
}

.aRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5vh;
    position: relative;
    /* width: 60vh; */
}

.aPoints {
    color: rgb(var(--red));
    width: 5.5vh;
    /* padding-left: 3vh; */
    text-align: right;
}

.aPoints.correct {
    color: rgb(var(--green));
}

.aAnswered {
    color: var(--grey);
    width: 5.5vh;
    text-align: right;
}

.aContent::before {
    content: "Kemalism:";
    color: var(--lgrey);
    padding-right: 2vh;
}

.aLeftmost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.vote {
    width: 3vh;
    z-index: 2;
    cursor: pointer;
    /* text-align: center; */
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 0vh;
    height: 0vh;
    z-index: 1;
    transform: translateX(-50%);
    box-shadow: 0 0 2vh red
}

.circle.correct {
    box-shadow: 0 0 2vh green;
}

/** home **/

.division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding: 15vh;
    /* gap: 5vw; */
}

.section {
    border: 0.2vh solid var(--lgrey);
    border-radius: 7vh;
    width: 30vw;
    padding: 8vh;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; */
}

.pText {
    /* padding-bottom: 4vh; */
    color: var(--grey);
    font-weight: bold;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sSize);
    height: 5vh;
}

.pName {
  white-space: nowrap;         /* prevent wrapping */
  overflow: hidden;            /* hide overflowed text */
  text-overflow: ellipsis;     /* add ellipsis (…) at end */
  max-width: 50%;             /* or any specific width */
}

.host.you::after {
    content: "👑 🙋‍♂️";
    padding-left: 1.75vh;
}

.host::after {
    content: "👑";
    padding-left: 1.75vh;
}

.you::after {
    content: "🙋‍♂️";
    padding-left: 1.75vh;
}

.mostImproved.highest::before {
    content: "🔥 🏅";
    padding-right: 1.75vh;
}

.highest::before {
    content: "🏆";
    padding-right: 1.75vh;
}

.mostImproved::before {
    content: "🔥";
    padding-right: 1.75vh;
}

.pScoreAndDelta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

.pDelta {
    color: var(--grey);
    width: 6vh;
    text-align: right;
}

.rename {
    /* position: absolute; */
    background-color: var(--lgrey);
    border-radius: 2vh;
    cursor: pointer;
    text-align: center;
    /* bottom: 5%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* width: 100%; */
    font-size: var(--sSize);
    height: 4vh;
    align-content: center;
    /* margin: 1vh; */    
    transition: box-shadow 0.5s ease, background-color 0.25s ease, transform 0.5s ease;
}

.rename:hover {
    box-shadow: 0vh 0vh 3vh rgba(var(--theme), 0.67);
    transform: scale(1.07);
    background-color: rgba(var(--theme), 0.33);
}

.rename:active {
    background-color:rgba(var(--theme), 0.67);
}

.cText {
    /* padding-bottom: 4vh; */
    color: var(--grey);
    font-weight: bold;
}

.middleColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    /* flex-grow: 1; */
    /* border: 1px solid white; */
}

.setting {
    font-size: var(--sSize);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    /* position: relative; */
}

.sName i {
    /* /* content: " "; */
    padding-right: 2vh;
    /* height: 0.01vh; */
    font-size: 2.2vh;
    width: 2.2vh;
    color: rgba(var(--theme), 0.75);
    display: inline-block;
}

.sValue {
    border: 1px solid var(--lgrey);
    border-radius: 3vh;
    width: 12vh;
    height: 5vh;
    text-align: right;
    align-content: center;
    padding-right: 1vh;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.5s ease, background-color 0.25s ease;
}

.sValue:hover {
    box-shadow: 0vh 0vh 1vh rgba(var(--theme), 0.67);
}

.sValue:active {
    box-shadow: 0vh 0vh 2vh rgba(var(--theme), 1);
}

.sValue::after {
    content: "▸";
    padding-left: 0.75vh;
    padding-right: 0.25vh;
    color: var(--grey);
    font-size: 2.25vh;
    /* transform: rotate(-90deg); */
    transform: scale(2, 1.5);
    display: inline-block;
    /* top: 50%; */
    /* margin-top: 0.5vh; */
    /* position: absolute; */
    transition: transform 0.5s ease;
}

.sValue.open::after {
    transform: rotate(90deg) scale(2, 1.5);
    /* transform: scale(2, 1.5); */
}

.menu {
    position: absolute;
    background-color: var(--lgrey);
    border-radius: 3vh;
    left: 50%;
    width: 103%;
    text-align: center;
    transform: translateX(-50%);
    top: 120%;
    z-index: 10;
    gap: 1vh;
    display: flex;
    flex-direction: column;
    /* padding-top: 1vh; */
    /* padding-bottom: 1vh; */
    align-items: center;
    /* justify-items: space-evenly; */
    height: 0vh;
    /* overflow: hidden; */
    /* pointer-events: none; */
    transition: height 0.5s ease, max-height 0.5s ease;
    max-height: 0vh;
    overflow: hidden;
    cursor: default;
    /* border: 1px solid var(--grey); */
}

.menu::-webkit-scrollbar {
    width: 0px;
    background: none;
    position: absolute;
}

.menu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: absolute;
}

.option {
    width: 75%;
    align-content: center;
    text-align: center;
    align-self: center;
    transform: translateX(15%);
    /* border: 1px solid blue; */
    border-radius: 3vh;
    cursor: pointer;
}

.option:hover {
    background-color: rgba(var(--theme), 0.5);
}

#color {
    /* border-radius: 4vh; */
    width: 12.5vh;
    /* margin: 5vh; */
    /* border-width: 10px; */
}

#letter::before {
    content: "Ⓐ";
    width: 3vh;
    padding-right: 3vh;
    color: rgb(var(--theme));
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--sSize);
    gap: 5vh;
}

.configButton {
    background-color: var(--lgrey);
    border-radius: 2vh;
    height: 4vh;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: box-shadow 0.5s ease, background-color 0.25s ease, transform 0.5s ease;
}

.configButton:hover {
    box-shadow: 0vh 0vh 3vh rgba(var(--theme), 0.67);
    transform: scale(1.07);
    background-color: rgba(var(--theme), 0.33);
}

.configButton:active {
    background-color:rgba(var(--theme), 0.67);
}

/* Responsive override for phones */
@media only screen and (max-width: 600px) {
    :root {
        --sSize: 2vh;
        --mSize: 2.75vh;
        --lSize: 10vh;
        --botPadding: 4px;
    }

    /** answering **/

    .topRow {
        display: flex;
        /* min-height: 100px; */
        justify-content: space-between;
        align-items: center;
        gap: 2.5vh;
        padding: 2.5vh;
        padding-left: 2.25vh;
        padding-right: 2.25vh;
        position: sticky;
        top: 0vh;
        background-color: var(--bgGrey);
        /* border: 0.25vh solid white; */
        z-index: 10;
    }

    .question {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        margin-top: 2vh;
        /* margin-bottom: 2.5vh; */
        border-bottom: 0.25vh solid var(--lgrey);
    }

    .numAndContent {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        gap: 3vh;
    }

    .qInput {
        /* margin-right: 2.5vh; */
        padding-left: 1.5vh;
        margin-left: 12%;
        /* flex-grow: 1; */
        /* max-width: 20vh; */
        width: 78%;
        height: 5vh;
        background-color: rgb(50, 50, 50);
        padding-bottom: var(--botPadding);
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        outline: none;
        position: relative;
        z-index: 1;
    }

    /** voting **/

    .answer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        font-size: var(--sSize);
        gap: 3vh;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
        /* padding: 3vh; */
        border-bottom: 0.1vh solid var(--lgrey);
        position: relative;
    }

    .aRight {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3vh;
        position: relative;
        /* left: 50%; */
    }

    #next {
        font-size: var(--sSize);
        border: 0.25vh solid var(--lgrey);
        border-radius: 50%;
        height: 8vh;
        width: 10vh;
        text-align: center;
        align-content: center;
        cursor: pointer;
        margin-left: 2vh;
        padding: 2vh;
        transition: box-shadow 0.5s ease, transform 0.5s ease;
    }

    #next:hover {
        box-shadow: 0vh 0vh 3vh rgba(var(--theme), 0.5);
    }

    #next:active {
        box-shadow: 0vh 0vh 3vh rgba(var(--theme), 1);
    }
    
    /** home **/

    .division {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* height: 70vh; */
        padding: 5vh;
        gap: 3vh;
        margin: 0vh;
    }
    
    .section {
        width: 40vh;
        gap: 5vh;
        /* color: red; */
        /* flex-grow: 1; */
        border: 0.2vh solid var(--lgrey);
        /* border-radius: 10%; */
        /* width: 30vw; */
        padding: 3vh;
        /* height: 75vh; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 1px solid white; */
    }

    .middleColumn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
        /* flex-grow: 1; */
        /* border: 1px solid white; */
    }
}