:root {
    --grey: rgb(100, 100, 100);
    --lgrey: rgb(75, 75, 75);
    --bgGrey: rgb(33, 33, 33);
    --sSize: 20px;
    --mSize: 28px;
    --lSize: 80px;
    --botPadding: 4px;
}

body {
    background-color: var(--bgGrey);
    color: whitesmoke;
    font-family: "Quantico";
    font-size: var(--mSize);
    margin: 0px;
    height: 100vh;
}

.topRow {
    display: flex;
    /* min-height: 100px; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0px;
    background-color: var(--bgGrey);
    /* border: 2px solid white; */
    z-index: 10;
}

.letter {
    font-size: var(--lSize);
    border: 2px dashed var(--grey);
    border-radius: 100%;
    padding-right: 35px;
    padding-left: 35px;
    /* margin-left: 0px; */
    /* font-family: "Doto"; */
}

#stopwatch {
    padding-right: 15px;
    font-size: 24px;
    color: var(--grey);
}

.instructions {
    border-bottom: 2px solid var(--grey);
    border-top: 2px solid var(--grey);
    /* font-size: 25px; */
    /* font-style: bold; */
    /* font-family: "Doto"; */
    /* margin-left: -20%; */
    padding: 12px;
    padding-left: 50px;
    /* margin: 8px; */
    margin-left: 0px;
    margin-right: 0px;
    font-size: var(--sSize);
    color: var(--grey);
    position: sticky;
    top: 157px;
    background-color: var(--bgGrey);
    /* border: 2px solid white; */
    z-index: 9;
}

.bottomColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 20px; */
    /* padding-bottom: -20px; */
    margin-top: 16px;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid var(--lgrey);
    /* text-align: center; */
    /* position: relative; */
}

.qNumber {
    flex-grow: 1;
    margin-left: 20px;
    font-size: var(--sSize);
    color: var(--grey);
    /* margin-left: -10%; */
    /* border: 3px solid white; */
    max-width: 50px;
    padding-bottom: var(--botPadding);
}

.qContent {
    flex-grow: 1;
    /* margin-left: -300px; */
    /* margin-left: -20%; */
    padding-bottom: var(--botPadding);
}

.qInput {
    margin-right: 20px;
    padding-left: 20px;
    margin-left: 20%;
    flex-grow: 2;
    width: 200px;
    height: 40px;
    background-color: rgb(50, 50, 50);
    padding-bottom: var(--botPadding);
    text-overflow:clip;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    position: relative;
    z-index: 1;
}

.qInput::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: rgb(35, 139, 67);
  width: 100%;
  transform: scaleX(0);
  transform-origin: left; /* grows from left to right */
  transition: transform 0.25s ease-in-out;
}

.qInput:focus::after {
  transform: scaleX(1); /* full width */
  transform-origin: left; /* growth from left */
}

.break {
    color: var(--bgGrey);
    font-size: 3px;
}

.outOf {
    display: flex;
    /* min-height: 100px; */
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}

.next {
    font-size: var(--sSize);
    border: 1px solid var(--lgrey);
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    text-align: center;
    align-content: center;
}

.bigQNum {
    font-size: var(--lSize);
}

.smallQNum {
    font-size: var(--sSize);
    color: var(--lgrey);
}

.bigQContent {
    font-size: var(--mSize);
}